body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    margin: 8px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-top: 1px solid #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
}

#jsonData {
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
}

.overLimit {
    margin-top: 16px;
    color: orange;
}

.underLimit {
    margin-top: 16px;
    color: green;
}